
footer {
    color: rgb(61, 61, 61); 
    padding: 20px; 
    text-align: center; 
    font-size: 14px; 
    bottom: 0; 
    /* width: 100%;  */
}


footer a {
    color: rgb(172, 208, 212);
    text-decoration: none;
    margin: 0 10px; 
}

footer a:hover {
    text-decoration: underline; 
}


@media (max-width: 600px) {
    footer {
        font-size: 12px; 
        padding: 15px; 
    }

    footer a {
        display: block; 
        margin-bottom: 10px; 
    }
}
