
.order-container {
.order-link {
        color:brown;
        text-decoration: underline;
}

td {
    border: 1px solid #0f7e8617;
    border-collapse: collapse;
    padding: 0.2rem;
  }

  table { 
    border-collapse: collapse;
  }

  th {
    padding: 0.7rem;
    background-color: #0f7e8617;
    border: solid 1px #0f7e8644;
    
  }

  table {
    margin-top: 3rem;
  }


  @media screen and (max-width: 580px) {
    table th:nth-child(5),
    table td:nth-child(5),
    table th:nth-child(3),
    table td:nth-child(3) {
      display: none;
    }
    
  }
  @media screen and (max-width: 860px) {
    table th:nth-child(4),
    table td:nth-child(4),
    table th:nth-child(3),
    table td:nth-child(3)
    {
      display: none;
    }
  }

  .neutral-btn {
    background-color: rgba(184, 221, 221, 0.589);
}

  .alert-btn {
    background-color: rgba(255, 119, 119, 0.473);
}

}