.search-results-h1 {
    margin-bottom: 7rem;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin: 0 auto;
    gap: 5rem;
    img {
        border-radius: 500px;
    }
}

